Backups/Web Chat Demo 1 - RAG_Integrations (_Nimrod Bot_) - 20.10.2025.json
{
  "name": "Web Chat Demo 1 - RAG\\Integrations (\"Nimrod Bot\")",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        48
      ],
      "id": "0fe6cbfc-9961-49cb-b8d8-5120cae3086c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Removes annotations from the output.\n",
        "jsCode": "function removeAnnotations(chatInput) {\n  return chatInput.replace(/【[^】]*】/g, '').trim();\n}\n\n// Example usage\nconst output = removeAnnotations(query);\nreturn output;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        672,
        48
      ],
      "id": "36968c3a-aa50-43a8-9142-86e11f9e9283",
      "name": "removeAnnotations"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a message in Gmail",
        "sendTo": "nimrodmayan@gmail.com",
        "subject": "Message from NimrodBot",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        832,
        48
      ],
      "id": "37bf032c-1822-40ec-aa03-9e419b5cdbba",
      "name": "Send a message in Gmail",
      "webhookId": "fdb804e9-e518-4084-b2da-9bb22283bad7",
      "credentials": {
        "gmailOAuth2": {
          "id": "3x5b620oNbArqXsp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15cMfMz0aECQM2vFhQBLTMf1udgivI9pByPvUvHni__E",
          "mode": "list",
          "cachedResultName": "NimrodBot Chat History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15cMfMz0aECQM2vFhQBLTMf1udgivI9pByPvUvHni__E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15cMfMz0aECQM2vFhQBLTMf1udgivI9pByPvUvHni__E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $('Chat Input').item.json.chatInput }}",
            "Reply": "={{ $json.output }}",
            "User": "={{ $('Chat Input').item.json.sessionId }}",
            "Time": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -32
      ],
      "id": "153ff6a9-d25c-43ea-8c06-3892e62cc4ea",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k7w9NoHkl1cWHjTt",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1296,
        -272
      ],
      "id": "92bf7d21-7a0a-433a-bdb5-fdcfb0711881",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        -272
      ],
      "id": "adccab32-52ef-4b6c-9f03-ccc2a5a59264",
      "name": "End of Chat Flow"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        480,
        -176
      ],
      "id": "09580945-9859-4489-903f-7a87bcc1feb6",
      "name": "Chat Input",
      "webhookId": "662ce85c-8346-4840-bab3-e9394751e012"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_NZnmko3PGw87su2l8QwgM7Kc",
          "mode": "list",
          "cachedResultName": "Nimrod Bot"
        },
        "prompt": "define",
        "text": "={{ $json.chatInput }}\n\n(The current time is {{ $now }})",
        "options": {
          "preserveOriginalTools": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        -176
      ],
      "id": "3bd75f81-4539-4b1a-b577-9a03b893eba4",
      "name": "OpenAI: Message a model",
      "credentials": {
        "openAiApi": {
          "id": "hQr18KcCVsdhq7Eo",
          "name": "OpenAI - Main Account"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "sessionID",
              "value": "={{ $('Chat Input').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1312,
        208
      ],
      "id": "8bb0824c-e444-4e45-a89d-e201483c5a8a",
      "name": "Execution Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        -32
      ],
      "id": "04e09d43-128b-46b0-ba22-b3c4d9ce3e37",
      "name": "End of Data Saving Flow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        208
      ],
      "id": "5d250bc5-6772-4e8b-a609-2aad735c8f97",
      "name": "End of Execution Data Flow"
    },
    {
      "parameters": {
        "errorMessage": "error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1744,
        208
      ],
      "id": "d46c9d23-cc40-46da-a229-7850d0cba730",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI: Message a model",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "removeAnnotations": {
      "ai_tool": [
        [
          {
            "node": "OpenAI: Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "OpenAI: Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "End of Data Saving Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "End of Chat Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End of Chat Flow": {
      "main": [
        []
      ]
    },
    "Chat Input": {
      "main": [
        [
          {
            "node": "OpenAI: Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End of Data Saving Flow": {
      "main": [
        []
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "End of Execution Data Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End of Execution Data Flow": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveExecutionProgress": true,
    "errorWorkflow": "r8pk6aBDhI1HdvDK"
  },
  "versionId": "1de3fe6d-45dc-4b48-86e8-d6c4d65ccb6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "383f066fb8be0ce201fa90fe0df55894a66aa3c78c7910708134987ac29d8a20"
  },
  "id": "a9T9Yq6iAbUVhVJW",
  "tags": []
}